body{
    margin:0;
    font-family: serif;
    background:#f5f5f5;
}



.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:#fff;
}

.logo{
    color:green;
}

nav a{
    margin:0 15px;
    text-decoration:none;
    color:black;
}

.search input{
    padding:5px 10px;
}



.hero{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:60px;
    gap:40px;
}

.hero-text{
    flex:1;
}

.hero-text h1{
    font-size:48px;
    color:darkgreen;
}

.hero-text p{
    margin-top:20px;
    font-size:14px;
}



.hero-img img{
    width:100%;
    border-radius:10px;
    margin-right:150px;
}




@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:15px;
        padding:20px;
    }

    nav{
        display:flex;
        gap:15px;
    }

    .hero{
        flex-direction:column;
        text-align:center;
        padding:30px;
    }

    .hero-text h1{
        font-size:32px;
    }
}
.overlay{
    height: 100%;
    width: 55%;
    background: linear-gradient(to right, 
                rgba(255,255,255,0.95) 60%, 
                rgba(255,255,255,0.6) 80%, 
                rgba(255,255,255,0) 100%);
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.hero-text h1{
    font-size: 48px;
    color: darkgreen;
}

.hero-text p{
    margin-top: 20px;
    font-size: 14px;
    width: 350px;
}